* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header__container {
    width: 100vw;
    display: flex;
    background-color: #111;
}

.brand__container {
    display: flex;
    flex: 1 0 auto;
    padding: 4px;
    align-items: center;
    justify-content: space-evenly;
}

.logo__container {
    flex: 0 1 auto;
    position: relative;
    width: auto;
    align-self: flex-end;
}

.logo {
    width: 150px;
}

.logo__top {
    animation: float 5s alternate ease-in-out infinite;
}

.logo__twist__container {
    top: 0;
    left: 0;
    position: absolute;
    animation: twist 7.25s alternate ease-in-out infinite;
}

@keyframes float {

    from {
        transform: translateY(-10%);
    }

    to {
        transform: translatey(10%);
    }
}

@keyframes twist {
    from {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-5deg);
    }
}