#projects__main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: #ddd;
}

.projects__title {
    padding: 5vh 3vw;
    font-size: 6.3vw;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
}

.projects__description {
    margin: 0 10% 0 10%;
}

.projects__description > .description {
    font-size: 28px;
}

.display__segment {
    align-self: center;
    display: flex;
    width: 80vw;
    max-width: 1600px;
    margin-top: 7.5vh;
    margin-bottom: 15vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.display__segment:nth-child(odd) {
    border-color: #F701FD;
}

.display__segment:nth-child(even) {
    border-color: #01F9FD;
}